/* Define custom CSS variables */
:root {
    --off-white: #e6dfdf;
    /* Define off-white color */
    --off-white-hover: #b9b4b4;
    /* Define off-white hover color */
}

/* Dashboard styles */
.dashboard {
    margin-top: 30px;
}

.dashboard .title {
    color: var(--off-white);
    /* Use custom CSS variable for color */
    font-size: 50px;
}

.dashboard .subtitle {
    color: var(--off-white);
    /* Use custom CSS variable for color */
    font-size: 20px;
}

.dashboard .subtitle a {
    text-decoration: underline;
    color: var(--off-white);
    /* Use custom color variable */
}

.dashboard .subtitle a:hover {
    color: var(--off-white-hover);
    /* Use custom hover color variable */
}

.dashboard .research {
    margin-top: 25px;
    background-color: #222a32;
    border-radius: 5px;
    width: 60%;
    padding: 15px 0;
}

.dashboard .research p {
    color: var(--off-white);
    /* Use custom CSS variable for color */
    font-size: 20px;
}

.dashboard .research p a {
    text-decoration: underline;
    color: var(--off-white);
    /* Use custom color variable */
}

.dashboard .research p a:hover {
    color: var(--off-white-hover);
    /* Use custom color variable */
}

.dashboard .socials {
    margin-top: 25px;
    background-color: #222a32;
    border-radius: 5px;
    width: 60%;
    padding: 15px 0;
}

.socials_title {
    color: var(--off-white);
    /* Use custom CSS variable for color */
    font-size: 35px;
}

.socials svg {
    padding: 0 15px;
    width: 50px;
    fill: var(--off-white);
    cursor: pointer;
}

.socials svg:hover {
    padding: 0 15px;
    width: 50px;
    fill: var(--off-white-hover);
}

@media (max-width: 550px) {

    .dashboard .research,
    .dashboard .socials {
        width: 100%;
    }
}